#ajax
{
   border:1px solid red;
   /*background:url("/Users/rahulsurvase/Desktop/google/img/loading1.gif") no-repeat right;*/


}


.srch-div

{
	z-index: 2;
	position:relative;
margin-left:30%;
margin-top: 20%;


}
.b{

	background-color:white; 
}


.text
{
	z-index: 2;
width:530px;
padding:15px;
font-size: 21px;
}

.sv
{
	background:url("/Users/rahulsurvase/Desktop/google/img/images.png");
	background-size:24px 24px;
display:inline-block;
height: 26px;
width:24px;
background-repeat: no-repeat;
z-index: 3;
margin-left: -39px;
margin-bottom: -8px;

}
.voice{

	display: inline-block;
}
.butt
{
width: 124px;
    height: 60px;
    font-size: 20px;
border-radius: 6px;
    border: 1px
background-color:#efefef;

}
.butt:hover
{
	border:1px;

     
	border-color: black;

}



div
{
	display:block;
}







#newUl
{

list-style-type: none;

margin-right: 48%;
font-family: serif;

}

.searchopts
{
	padding: 3px;
    font-size: 19px;
    z-index:0;

}
li.searchopts:hover
{

	background-color: #efefef  !important;
}

#info
{

display: none;
}

.info-class
{
	 font-size: 2em;
	 padding: 6px;
	 z-index: 1;
}

.info-ul
{
display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    list-style: none;
    width: 56%;
    z-index: 0;

}
#ajax:hover
{

	border-color: black;
}
/*.title-class
{

float: right;
margin-right: 600px;
}

.year-class
{

    float: right;
    margin-top: 49px;
    margin-right: -95px;

}

.rated-class
{

    float: right;
    margin-top: 96px;
    margin-right: -117px;
}


.rating-class
{
    position: relative;
    top: 24px;
    left: 14px;
}

.plot-class
{
position: relative;
    top: 30px;
    left: 14px;
}

#plot
{
    position: relative;
    left: 7%;
    font-size: 2em;
    top:-7px;

}




}*/


#poster
{
width:18%;


}
#load
{
position: fixed;
  left: 63%;
  bottom: 55%;
  z-index: 9999;


}
.hidden
{

	display: none;
}
.hidden1
{
display:none;

}

#giff
{
	max-width: 43px;
}

#load1
{

	    position:fixed;
    left: 48%;
    bottom: 40%;



}

 #gif
{

   max-width: 43PX;
   /*max-height: 50PX;*/

}




























